body{
    background-color: rgb(242, 233, 233);
}
.First{ 
    color: blue;
     Height: 0;
      padding: 5 ;
}
.SurName{
    color: blue;
    Height: 0;
     padding: 5 ;
}
.Mobile{
    color: blue;
     Height: 0;
      padding: 5 ;
}
.password{
    color: blue;
     Height: 0;
      padding: 5 ;
}
